<%- model_class = Task -%>
<div class="page-header">
  <h1><%=t '.title', :default => "Vendas" %></h1>
</div>
<%= form_tag tasks_path, :method => 'get', remote: true do %>
<p>
  <div class="col-lg-9">
    <%= text_field_tag :search, params[:search], class: 'form-control' %>
  </div>
  <div class="col-lg-3">
    <%= submit_tag "Procurar", :name => nil, class: 'btn btn-primary' %> 
    <%= link_to t('.new', :default => t("Nova venda")),
    new_task_path,
    :class => 'btn btn-primary' %>
  </div>
</p>
<% end %>

<div id="tasks_table">
  <%= render partial: 'tasks_table', locals: {tasks: @tasks}%>
</div>