<table class="table table-striped">
  <thead>
    <tr>
      <th>Valor de Custo</th>
      <th>Valor de Venda</th>
      <th>Nome</th>
      <th>Quantidade em Estoque</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
    <tr>
      <td><%= link_to product.name, product_path(product) %></td>
      <td><%= product.cost_value %></td>
      <td><%= product.sale_value %></td>
      <td><%= product.quantity_in_stock %></td>
      <td>
        <%= link_to t('.edit', :default => t("helpers.links.edit")),
        edit_product_path(product), :class => 'btn btn-default btn-xs' %>
        <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
        product_path(product),
        :method => :delete,
        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
        :class => 'btn btn-xs btn-danger' %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>