<!DOCTYPE html>
<html>
	<head>
		<title>Difranco</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li class="active"><a href="/">Home</a></li>
				<li><%= link_to t('.new', :default => t("Produtos")),
				products_path%></li>
				<li><%= link_to t('.new', :default => t("Vendas")),
				tasks_path%></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="active"><a href="./">Default <span class="sr-only">(current)</span></a></li>
			</ul>
		</div>
	</head>
	<body>
		<%= yield %>
	</body>
</html>